.container {
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
 width: 50%;
 margin: auto;
 margin-top: 2em;
 margin-bottom: 3em;
 gap: 2em;
 font-family: var(--font-origin);
}

.profile__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4em;
}

.container__title {
  margin-top: 1;
  max-height: 280px;
  height: 100%;
}
.title {
 font-size: 36px;
 height: 100%;
}
.paragraf {
 font-size: 18px;
 margin: 0.5em;
}

@media screen and (max-width: 1120px) {
 .container {
  width: 90%;
  margin-right: 3em;
  padding: 0.5em;
 }
 .title {
  width: 100%;
  margin: auto;
  font-size: 24px;
 }
 .paragraf {
  width: 100%;
  font-size: 18px;
  padding: 2px;
  margin: 0 auto;
 }
}