.navigation {
 display: flex;
}

.listItem {
 list-style: none;
}

.itens {
 list-style: none;
 text-decoration: none;
 color: "#fff";
 padding: 1rem;
 font-family: var(--font-origin);
 font-size: 24px;
}
.componentsNavigations {
  display: flex;
  gap: 0.5em;
}
@media screen and (max-width: 1120px) {
 .navigation {
  display: none;
 }
 .itens {
  margin: auto;
  padding: 1em;
  font-size: 0.5em;
 }
}

@media screen and (max-width: 502px) {
 .itens {
  margin: auto;
  padding: 1em;
  font-size: 0.5em;
 }
}